:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  &.disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.control {
  width: 250px;
  margin: 10px;

  >input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
  }
}

.panel {
  box-sizing: border-box;
  width: 250px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  overflow: auto;
  transform-origin: top;
}
