<div class="control" cdkOverlayOrigin #origin="cdkOverlayOrigin">
  <input #input placeholder="Click to expand the list..." (input)="onHandleInput($event)">
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpenPanel"
  [cdkConnectedOverlayOffsetY]="4"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="closePanel()"
  (detach)="closePanel()"
>
  <div class="panel" [style.height]="listHeight" [@dropDown] (@dropDown.done)="onPanelAnimation($event)">
    <ng-content></ng-content>
  </div>
</ng-template>
