<div class="control">
  <cc-multi-select-input
    [formControl]="customControl"
    (searchChanged)="onSearchChanged($event)"
    [listHeight]="listHeight()"
    (panelOpened)="onPanelOpened()"
    (panelClosed)="onPanelClosed()"
  >
    <cc-form-option *ngFor="let option of filteredOptions()"
      [value]="option"
      [propertyIndicatingSelection]="'done'"
      [handleAfterTouched]="handleAfterOptionSelected"
    >
      {{ option.value }}
      <div contentTarget="selectedIcon" class="option-icon">✔️</div>
      <div contentTarget="unselectedIcon" class="option-icon">❌</div>
    </cc-form-option>
    <div *ngIf="!filteredOptions().length">
      Not found
    </div>
  </cc-multi-select-input>
  <button (click)="submit()" class="submit-btn">Submit</button>
</div>
