<div class="navigation">
  <a routerLink="/multi-select-input">Multi select input</a>
  <a routerLink="/tags-input">Tags input</a>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
