<div class="tags-container">
  <div class="form-container">
    <input
      type="text"
      class="form-input"
      [(ngModel)]="inputValue"
      (keydown.enter)="addTag()"
      (blur)="onTouch()"
      [style.border]="inputBorder"
      [style.outline-color]="inputOutlineColor"
    />
    <button (click)="addTag()"
      [style.border]="buttonBorder"
      [style.--buttonHoverFillColor]="buttonHoverFillColor"
      [style.--buttonTextColor]="buttonTextColor"
      [style.--buttonHoverTextColor]="buttonHoverTextColor"
    >Add tag</button>
  </div>
  <div class="tag-list">
    <div class="tag" *ngFor="let tag of _tags; let i = index" [@fadeIn]>
      <span class="tag-name"
        [style.border]="tagBorder"
        [style.background-color]="tagFillColor"
        [style.color]="tagTextColor"
      >{{ tag }}</span>
      <span class="remove-tag" (click)="removeTag(i)">
        {{ removeEmoji }}
      </span>
    </div>
  </div>
</div>
