:host {
  --buttonHoverFillColor: rgb(0, 4, 216);
  --buttonTextColor: rgb(0, 0, 0);
  --buttonHoverTextColor: rgb(0, 0, 0);
}

.tags-container {
  display: flex;
  width: 370px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  letter-spacing: 2px;

  .tag-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .tag {
      display: flex;
      align-items: center;
      margin: 8px;

      &-name {
        padding: 5px 10px;
        font-size: 18px;
        border: 1px solid rgb(0, 13, 196);
      }

      .remove-tag {
        cursor: pointer;
        margin-left: 5px;
        font-weight: bold;
        color: #ff0000;
      }
    }
  }

  .form-container {
    height: 50px;

    .form-input {
      width: 250px;
      box-sizing: border-box;
      padding: 5px;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px;
      font-size: 1.1rem;
      outline-color: rgb(0, 0, 0);
    }

    >button {
      width: 100px;
      margin-left: 15px;
      background-color: rgb(255, 255, 255);
      font-size: 1rem;
      padding: .3rem;
      border: 2px solid rgb(0, 4, 216);;
      cursor: pointer;
      color: var(--buttonTextColor);

      &:hover {
        font-weight: 700;
        color: var(--buttonHoverTextColor);
        background-color: var(--buttonHoverFillColor);
      }
    }
  }
}
