:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;

  &.selected {
    background-color: rgb(210, 230, 184);
  }

  &.active {
    border: rgb(0, 0, 0) 1px dashed;
  }

  &.disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
