<div class="option">
  <ng-content></ng-content>
  <div *ngIf="!isSelected">
    <ng-content select="[contentTarget=unselectedIcon]"></ng-content>
  </div>
  <div *ngIf="isSelected">
    <ng-content select="[contentTarget=selectedIcon]"></ng-content>
  </div>
</div>
